h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input::selection {
    background-color: var(--app-background-green);
    color: white;
}

.messenger_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--messenger_header_height);
    background-color: var(--messenger-header-color);
    border-bottom: 1px solid var(--messenger-header-border-color);
    padding: var(--messenger-header-padding);
}

.messenger_body {
    height: calc((100% - var(--messenger_header_height)) - (var(--messenger-header-padding) * 2) - 1px);
}

.not_found_page {
    background-image: radial-gradient(circle at center, rgb(255, 255, 255) 0, rgb(174, 224, 92), green 100%);
    height: 96vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 38px;
    }
}