:root {
    --app-background-green: #00a884;
    --panel-background-green: #008069;
    --app-background-grey: #eae6df;
    --messenger-header-border-color: #d1d7db;
    --messenger-header-color: #f0f2f5;
    --messenger-header-padding: 10px;
    --messenger_header_height: 6%;
    --message_primary: #111b21;
}