$main-border: 2px white solid;

.module_header {
    display: flex;
    align-items:flex-end;
    text-align: center;
    background-color: var(--panel-background-green);
    height: 90px;
    padding: 10px;
    .back_icon {
        width: 25%;
        height: 25%;
        transform: rotate(45deg);
        border-bottom: $main-border;
        border-left: $main-border;
        animation: open_module 0.3s ease;
    }
    h1 {
        line-height: 40px;
        font-size: 19px;
        color: white;
        opacity: 1;
        animation: open_module 0.5s ease;
    }
}

.module_body {
    padding: 10px;
}

@keyframes open_module {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}