.chat_contacts {
    height: 100%;

    .header_contacts {

    }

    .body_contacts {
        overflow-y: scroll;
    }
    
    .show_add_contact_module {
        width: 100%;
        height: 100%;
        animation: open_module 0.1s ease;
    }
}

@keyframes open_module {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}